body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px 0;
}

h1 {
  font-size: 32px;
}

main {
  margin: 0 auto; /* Centrer le contenu sur la page */
  padding: 20px;
}

section {
  margin-bottom: 20px; /* Espacement entre les sections */
}

hr {
  border: none;
  border-top: 1px solid black; /* Couleur et épaisseur de la ligne */
  margin: 20px 0; /* Espacement avant et après la ligne */
}

h2 {
  text-align: center; /* Centrer le texte */
  font-size: 24px; /* Taille de police */
  margin: 0; /* Supprimer les marges par défaut */
}

.masonry-grid {
  column-count: 2; /* Utilisation de 2 colonnes */
  column-gap: 10px;
}

.card {
  display: inline-block;
  margin: 0 0 10px;
  width: calc(50% - 5px); /* Rendre les cartes (images) 50% plus petites */
}

.card img {
  width: 100%; /* Assurer que les images remplissent entièrement la largeur des cartes */
  border-radius: 5px;
}
